AcMeERP/Service References/DataSyncService/DataSynchronizer.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="DataSynchronizer" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:1214/DataSyncService/DataSynchronizer.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:1214/DataSyncService/DataSynchronizer.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:1214/DataSyncService/DataSynchronizer.svc?xsd=xsd2" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IDataSynchronizer_ImportERPMasters_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportERPMasters" />
  </wsdl:message>
  <wsdl:message name="IDataSynchronizer_ImportERPMasters_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportERPMastersResponse" />
  </wsdl:message>
  <wsdl:message name="IDataSynchronizer_ImportERPMastersToXML_InputMessage">
    <wsdl:part name="parameters" element="tns:ImportERPMastersToXML" />
  </wsdl:message>
  <wsdl:message name="IDataSynchronizer_ImportERPMastersToXML_OutputMessage">
    <wsdl:part name="parameters" element="tns:ImportERPMastersToXMLResponse" />
  </wsdl:message>
  <wsdl:portType name="IDataSynchronizer">
    <wsdl:operation name="ImportERPMasters">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataSynchronizer/ImportERPMasters" message="tns:IDataSynchronizer_ImportERPMasters_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataSynchronizer/ImportERPMastersResponse" message="tns:IDataSynchronizer_ImportERPMasters_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ImportERPMastersToXML">
      <wsdl:input wsaw:Action="http://tempuri.org/IDataSynchronizer/ImportERPMastersToXML" message="tns:IDataSynchronizer_ImportERPMastersToXML_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IDataSynchronizer/ImportERPMastersToXMLResponse" message="tns:IDataSynchronizer_ImportERPMastersToXML_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IDataSynchronizer" type="tns:IDataSynchronizer">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="ImportERPMasters">
      <soap:operation soapAction="http://tempuri.org/IDataSynchronizer/ImportERPMasters" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ImportERPMastersToXML">
      <soap:operation soapAction="http://tempuri.org/IDataSynchronizer/ImportERPMastersToXML" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="DataSynchronizer">
    <wsdl:port name="BasicHttpBinding_IDataSynchronizer" binding="tns:BasicHttpBinding_IDataSynchronizer">
      <soap:address location="http://localhost:1214/DataSyncService/DataSynchronizer.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>